## Coursera IBM Data Science Capstone Week5 Dartford Explorer Code

### Tony Holdroyd

In [1]:
!pwd

/home/tony/Documents/MOOCS/CourseraIBMDS/Coursera_Capstone

### required imports

In [2]:
import pandas as pd
from geopy.geocoders import Nominatim
import folium
import requests
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
geolocator = Nominatim(user_agent="dartford_explorer")

### read in schools file (appears as first item in a list)

In [3]:
file = 'DartfordSchools.html'
df = pd.read_html(file)
df = df[0]
df.head()

                            School Name â²      Town     School Type
0         Anthony Roper Primary School, The  Dartford  Primary School
1                       Bean Primary School  Dartford  Primary School
2                 Brent Primary School, The  Dartford  Primary School
3  Dartford Bridge Community Primary School  Dartford  Primary School
4                   Dartford Grammar School  Dartford  Grammar School

### fix odd schoool name

In [4]:
schools = df[df['School Type']=='Primary School']
schools.rename(columns={"School Name â²": "School Name"} , inplace=True)
schools

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/pandas/core/frame.py:4218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

                                      School Name      Town     School Type
0               Anthony Roper Primary School, The  Dartford  Primary School
1                             Bean Primary School  Dartford  Primary School
2                       Brent Primary School, The  Dartford  Primary School
3        Dartford Bridge Community Primary School  Dartford  Primary School
6                        Dartford Primary Academy  Dartford  Primary School
8                        Fleetdown Primary School  Dartford  Primary School
9                    Gateway Primary Academy, The  Dartford  Primary School
10                      Greenlands Primary School  Dartford  Primary School
11              Holy Trinity CEP School, Dartford  Dartford  Primary School
12                        Horton Kirby CEP School  Dartford  Primary School
17                         Maypole Primary School  Dartford  Primary School
19                       Oakfield Primary Academy  Dartford  Primary School
20   Our Lady's Catholic Primary School, Dartford  Dartford  Primary School
21  St Anselm's Catholic Primary School, Dartford  Dartford  Primary School
22                      Sutton-at-Hone CEP School  Dartford  Primary School
23                    Temple Hill Primary Academy  Dartford  Primary School
24                       Wentworth Primary School  Dartford  Primary School
25                      West Hill Primary Academy  Dartford  Primary School
26                        Westgate Primary School  Dartford  Primary School
30                      Wilmington Primary School  Dartford  Primary School

### extract just school names

In [5]:
schools.drop('Town', axis=1, inplace=True)
schools.drop('School Type', axis=1, inplace=True)
schools.index = range(len(schools.index))
schools

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/pandas/core/frame.py:4097: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                                      School Name
0               Anthony Roper Primary School, The
1                             Bean Primary School
2                       Brent Primary School, The
3        Dartford Bridge Community Primary School
4                        Dartford Primary Academy
5                        Fleetdown Primary School
6                    Gateway Primary Academy, The
7                       Greenlands Primary School
8               Holy Trinity CEP School, Dartford
9                         Horton Kirby CEP School
10                         Maypole Primary School
11                       Oakfield Primary Academy
12   Our Lady's Catholic Primary School, Dartford
13  St Anselm's Catholic Primary School, Dartford
14                      Sutton-at-Hone CEP School
15                    Temple Hill Primary Academy
16                       Wentworth Primary School
17                      West Hill Primary Academy
18                        Westgate Primary School
19                      Wilmington Primary School

### create new columns for 'Post Code', 'Address', 'Phone'

In [6]:
header_list = ['School Name', 'Post Code', 'Address', 'Phone']
schools = schools.reindex(columns = header_list)  
schools

                                      School Name  Post Code  Address  Phone
0               Anthony Roper Primary School, The        NaN      NaN    NaN
1                             Bean Primary School        NaN      NaN    NaN
2                       Brent Primary School, The        NaN      NaN    NaN
3        Dartford Bridge Community Primary School        NaN      NaN    NaN
4                        Dartford Primary Academy        NaN      NaN    NaN
5                        Fleetdown Primary School        NaN      NaN    NaN
6                    Gateway Primary Academy, The        NaN      NaN    NaN
7                       Greenlands Primary School        NaN      NaN    NaN
8               Holy Trinity CEP School, Dartford        NaN      NaN    NaN
9                         Horton Kirby CEP School        NaN      NaN    NaN
10                         Maypole Primary School        NaN      NaN    NaN
11                       Oakfield Primary Academy        NaN      NaN    NaN
12   Our Lady's Catholic Primary School, Dartford        NaN      NaN    NaN
13  St Anselm's Catholic Primary School, Dartford        NaN      NaN    NaN
14                      Sutton-at-Hone CEP School        NaN      NaN    NaN
15                    Temple Hill Primary Academy        NaN      NaN    NaN
16                       Wentworth Primary School        NaN      NaN    NaN
17                      West Hill Primary Academy        NaN      NaN    NaN
18                        Westgate Primary School        NaN      NaN    NaN
19                      Wilmington Primary School        NaN      NaN    NaN

### manual look-up table for new columns

In [7]:
schools['Post Code'][0] = 'DA4 0AA'
schools['Post Code'][1] = 'DA2 8AL'
schools['Post Code'][2] = 'DA2 6BA'
schools['Post Code'][3] = 'DA1 5GB'
schools['Post Code'][4] = 'DA1 1SQ'
schools['Post Code'][5] = 'DA2 6JX'
schools['Post Code'][6] = 'DA2 6DW'
schools['Post Code'][7] = 'DA2 8DH'
schools['Post Code'][8] = 'DA1 5AF'
schools['Post Code'][9] = 'DA4 9BN'
schools['Post Code'][10] = 'DA2 7UZ'
schools['Post Code'][11] = 'DA1 2SW'
schools['Post Code'][12] = 'DA1 2HZ'
schools['Post Code'][13] = 'DA1 5EA'
schools['Post Code'][14] = 'DA4 9EX'
schools['Post Code'][15] = 'DA1 5ND'
schools['Post Code'][16] = 'DA1 3NG'
schools['Post Code'][17] = 'DA1 3DZ'
schools['Post Code'][18] = 'DA1 2LP'
schools['Post Code'][19] = 'DA2 7DF'

schools['Address'][0] = 'High St, Eynsford, Dartford'
schools['Address'][1] = 'School Ln, Bean, Dartford'
schools['Address'][2] = 'London Road, Dartford '
schools['Address'][3] = 'Birdwood Ave, Dartford'
schools['Address'][4] = 'York Rd, Dartford'
schools['Address'][5] = 'Lunedale Rd, Dartford'
schools['Address'][6] = 'Mile Stone Rd, Stone, Dartford'
schools['Address'][7] = 'Green Street Green Rd, Dartford'
schools['Address'][8] = 'Chatsworth Rd, Dartford'
schools['Address'][9] = 'Horton Rd, Horton Kirby, Dartford'
schools['Address'][10] = 'Franklin Rd, Dartford '
schools['Address'][11] = 'Oakfield Ln, Dartford '
schools['Address'][12] = 'King Edward Ave, Dartford'
schools['Address'][13] = 'Littlebrook Manor Way, Dartford'
schools['Address'][14] = 'Church Rd, Sutton at Hone, Dartford'
schools['Address'][15] = 'St Edmunds Rd, Dartford'
schools['Address'][16] = 'Wentworth Dr, Dartford'
schools['Address'][17] = 'Dartford Rd, Dartford'
schools['Address'][18] = 'Summerhill Rd, Dartford'
schools['Address'][19] = 'Common Ln, Dartford'

schools['Phone'][0] = '01322 863680'
schools['Phone'][1] = '01474 833225'
schools['Phone'][2] = '01322 223943'
schools['Phone'][3] = '01322 424021'
schools['Phone'][4] = '01322 224453'
schools['Phone'][5] = '01322 226891'
schools['Phone'][6] = '01322 220090'
schools['Phone'][7] = '01474 703178'
schools['Phone'][8] = '01322 224474'
schools['Phone'][9] = '01322 863278'
schools['Phone'][10] = '01322 523830'
schools['Phone'][11] = '01322 220831'
schools['Phone'][12] = '01322 222759'
schools['Phone'][13] = '01322 225173'
schools['Phone'][14] = '01322 862147'
schools['Phone'][15] = '01322 224600'
schools['Phone'][16] = '01322 225694'
schools['Phone'][17] = '01322 226019'
schools['Phone'][18] = '01322 223382'
schools['Phone'][19] = '01322 274080'

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/pandas/core/indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/tony/.virtualenvs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
schools

,School Name,Post Code,Address,Phone
0,"Anthony Roper Primary School, The",DA4 0AA,"High St, Eynsford, Dartford",01322 863680
1,Bean Primary School,DA2 8AL,"School Ln, Bean, Dartford",01474 833225
2,"Brent Primary School, The",DA2 6BA,"London Road, Dartford",01322 223943
3,Dartford Bridge Community Primary School,DA1 5GB,"Birdwood Ave, Dartford",01322 424021
4,Dartford Primary Academy,DA1 1SQ,"York Rd, Dartford",01322 224453
5,Fleetdown Primary School,DA2 6JX,"Lunedale Rd, Dartford",01322 226891
6,"Gateway Primary Academy, The",DA2 6DW,"Mile Stone Rd, Stone, Dartford",01322 220090
7,Greenlands Primary School,DA2 8DH,"Green Street Green Rd, Dartford",01474 703178
8,"Holy Trinity CEP School, Dartford",DA1 5AF,"Chatsworth Rd, Dartford",01322 224474
9,Horton Kirby CEP School,DA4 9BN,"Horton Rd, Horton Kirby, Dartford",01322 863278
10,Maypole Primary School,DA2 7UZ,"Franklin Rd, Dartford",01322 523830
11,Oakfield Primary Academy,DA1 2SW,"Oakfield Ln, Dartford",01322 220831
12,"Our Lady's Catholic Primary School, Dartford",DA1 2HZ,"King Edward Ave, Dartford",01322 222759
13,"St Anselm's Catholic Primary School, Dartford",DA1 5EA,"Littlebrook Manor Way, Dartford",01322 225173
14,Sutton-at-Hone CEP School,DA4 9EX,"Church Rd, Sutton at Hone, Dartford",01322 862147
15,Temple Hill Primary Academy,DA1 5ND,"St Edmunds Rd, Dartford",01322 224600
16,Wentworth Primary School,DA1 3NG,"Wentworth Dr, Dartford",01322 225694
17,West Hill Primary Academy,DA1 3DZ,"Dartford Rd, Dartford",01322 226019
18,Westgate Primary School,DA1 2LP,"Summerhill Rd, Dartford",01322 223382
19,Wilmington Primary School,DA2 7DF,"Common Ln, Dartford",01322 274080

### read in postcode csv file as table

In [9]:
pcodes = pd.read_csv('ukpostcodes.csv')
pcodes.rename(columns={'postcode':'Post Code'}, inplace=True)
pcodes.drop('id', axis=1, inplace=True)

In [10]:
pcodes.head()

  Post Code   latitude  longitude
0  AB10 1XG  57.144165  -2.114848
1  AB10 6RN  57.137880  -2.121487
2  AB10 7JB  57.124274  -2.127190
3  AB11 5QN  57.142701  -2.093295
4  AB11 6UL  57.137547  -2.112233

### join post code table on to school table using Post Codes.  
### Left join joins only on Post Codes from left (schools) table

In [11]:
schools = schools.merge(pcodes, how='left', left_on='Post Code' , right_on='Post Code')

In [12]:
schools.head()

,School Name,Post Code,Address,Phone,latitude,longitude
0,"Anthony Roper Primary School, The",DA4 0AA,"High St, Eynsford, Dartford",01322 863680,51.369382,0.213492
1,Bean Primary School,DA2 8AL,"School Ln, Bean, Dartford",01474 833225,51.426347,0.289653
2,"Brent Primary School, The",DA2 6BA,"London Road, Dartford",01322 223943,51.443261,0.245859
3,Dartford Bridge Community Primary School,DA1 5GB,"Birdwood Ave, Dartford",01322 424021,51.463049,0.230288
4,Dartford Primary Academy,DA1 1SQ,"York Rd, Dartford",01322 224453,51.441965,0.228210

### get lat and long for Dartford

In [13]:
dartford=geolocator.geocode('Dartford, GB')
print(dartford)
print(dartford.latitude)
print(dartford.longitude)

Dartford, Kent, South East, England, United Kingdom
51.4443059
0.21807

### create and save map of Dartford using latitude and longitude values using Folium API

In [14]:

map_dartford = folium.Map(location=[dartford.latitude, dartford.longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(schools['latitude'], schools['longitude'], schools['Post Code'], schools['School Name']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_dartford)  
    
map_dartford
map_dartford.save('dartford.html')

### Set up Foursquare credentials

In [15]:
CLIENT_ID = 'AGTECTUHU2A21IV2GQJM4ON0HL0CYTXMHD3JDWRAJD3CQG04' #  Foursquare ID
CLIENT_SECRET = 'XUQMS5VZKXP4TYDKKLFFGASNRWSFAO4ZPYIE2KFP4VMVDBDI' #  Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Credentails:
CLIENT_ID: AGTECTUHU2A21IV2GQJM4ON0HL0CYTXMHD3JDWRAJD3CQG04
CLIENT_SECRET:XUQMS5VZKXP4TYDKKLFFGASNRWSFAO4ZPYIE2KFP4VMVDBDI

### Function to use Foursquare API to get nearby venues

In [16]:
LIMIT=50
def getNearbyVenues(names, latitudes, longitudes, radius=1000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

### get nearby venues

In [17]:
vens = getNearbyVenues(names=schools['School Name'],latitudes=schools['latitude'],longitudes=schools['longitude'])

Anthony Roper Primary School, The
Bean Primary School
Brent Primary School, The
Dartford Bridge Community Primary School
Dartford Primary Academy
Fleetdown Primary School
Gateway Primary Academy, The
Greenlands Primary School
Holy Trinity CEP School, Dartford
Horton Kirby CEP School
Maypole Primary School
Oakfield Primary Academy
Our Lady's Catholic Primary School, Dartford
St Anselm's Catholic Primary School, Dartford
Sutton-at-Hone CEP School
Temple Hill Primary Academy
Wentworth Primary School
West Hill Primary Academy
Westgate Primary School
Wilmington Primary School

In [18]:
vens.head()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Anthony Roper Primary School, The",51.369382,0.213492,The Malt Shovel,51.367272,0.210710,Pub
1,"Anthony Roper Primary School, The",51.369382,0.213492,Castle Hotel,51.367862,0.212195,Pub
2,"Anthony Roper Primary School, The",51.369382,0.213492,The Plough Inn,51.368441,0.209845,Pub
3,"Anthony Roper Primary School, The",51.369382,0.213492,Riverside Tea Rooms,51.368109,0.210822,Breakfast Spot
4,"Anthony Roper Primary School, The",51.369382,0.213492,Eynsford Ford,51.368365,0.209944,Park

### check how many venue categories

In [19]:
print('There are {} unique venue categories.'.format(len(vens['Venue Category'].unique())))

There are 55 unique venue categories.

### group by school name and get venue counts, join to new table, s

In [20]:
venue_counts = vens.groupby('Neighbourhood').count()

In [21]:
counts = venue_counts['Venue']
s =schools.join(venue_counts['Venue'], on='School Name' )
s.rename(columns={"Venue": "Venue Count"} , inplace=True)

In [22]:
s.head()

,School Name,Post Code,Address,Phone,latitude,longitude,Venue Count
0,"Anthony Roper Primary School, The",DA4 0AA,"High St, Eynsford, Dartford",01322 863680,51.369382,0.213492,6
1,Bean Primary School,DA2 8AL,"School Ln, Bean, Dartford",01474 833225,51.426347,0.289653,4
2,"Brent Primary School, The",DA2 6BA,"London Road, Dartford",01322 223943,51.443261,0.245859,8
3,Dartford Bridge Community Primary School,DA1 5GB,"Birdwood Ave, Dartford",01322 424021,51.463049,0.230288,5
4,Dartford Primary Academy,DA1 1SQ,"York Rd, Dartford",01322 224453,51.441965,0.228210,39

### School with the most nearby venues

In [23]:

s.loc[s['Venue Count'].idxmax()]

School Name    Dartford Primary Academy
Post Code                       DA1 1SQ
Address               York Rd, Dartford
Phone                      01322 224453
latitude                         51.442
longitude                       0.22821
Venue Count                          39
Name: 4, dtype: object

### School with the least nearby venues

In [24]:
s.loc[s['Venue Count'].idxmin()]

School Name          Greenlands Primary School
Post Code                              DA2 8DH
Address        Green Street Green Rd, Dartford
Phone                             01474 703178
latitude                               51.4156
longitude                             0.264033
Venue Count                                  3
Name: 7, dtype: object

## 3. Analyze Each Neighborhood

In [25]:
dartford_onehot = pd.get_dummies(vens[['Venue Category']], prefix="", prefix_sep="")

In [26]:
dartford_onehot['Neighbourhood'] = vens['Neighbourhood']

In [27]:
fixed_columns = [dartford_onehot.columns[-1]] + list(dartford_onehot.columns[:-1])
dartford_onehot = dartford_onehot[fixed_columns]

In [28]:
dartford_onehot.head(10)

,Neighbourhood,Arts & Crafts Store,Bakery,Bar,Breakfast Spot,Burger Joint,Café,Candy Store,Child Care Service,Clothing Store,...,Soccer Field,Soccer Stadium,Sports Club,Stationery Store,Supermarket,Theater,Trail,Train Station,Tunnel,Warehouse Store
0,"Anthony Roper Primary School, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Anthony Roper Primary School, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Anthony Roper Primary School, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Anthony Roper Primary School, The",0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Anthony Roper Primary School, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,"Anthony Roper Primary School, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,Bean Primary School,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Bean Primary School,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Bean Primary School,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Bean Primary School,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Group rows by neighborhood and take the mean of the frequency of the occurrence of each category

In [29]:
dartford_grouped = dartford_onehot.groupby('Neighbourhood').mean().reset_index()

In [30]:
dartford_grouped .head(10)

,Neighbourhood,Arts & Crafts Store,Bakery,Bar,Breakfast Spot,Burger Joint,Café,Candy Store,Child Care Service,Clothing Store,...,Soccer Field,Soccer Stadium,Sports Club,Stationery Store,Supermarket,Theater,Trail,Train Station,Tunnel,Warehouse Store
0,"Anthony Roper Primary School, The",0.0,0.000000,0.0,0.166667,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.166667,0.0,0.000000
1,Bean Primary School,0.0,0.000000,0.0,0.000000,0.000000,0.500000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
2,"Brent Primary School, The",0.0,0.000000,0.0,0.000000,0.000000,0.125000,0.0,0.0,0.000000,...,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
3,Dartford Bridge Community Primary School,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.2,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
4,Dartford Primary Academy,0.0,0.025641,0.0,0.000000,0.025641,0.025641,0.0,0.0,0.051282,...,0.051282,0.025641,0.000000,0.025641,0.051282,0.025641,0.0,0.000000,0.0,0.025641
5,Fleetdown Primary School,0.0,0.000000,0.0,0.000000,0.000000,0.142857,0.0,0.0,0.000000,...,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
6,"Gateway Primary Academy, The",0.0,0.000000,0.0,0.000000,0.000000,0.083333,0.0,0.0,0.000000,...,0.083333,0.000000,0.083333,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
7,Greenlands Primary School,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
8,"Holy Trinity CEP School, Dartford",0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.071429,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
9,Horton Kirby CEP School,0.0,0.000000,0.4,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000

In [31]:
### print top 5 venue categories for each school

In [32]:
num_top_venues = 5

for hood in dartford_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = dartford_grouped[dartford_grouped['Neighbourhood'] == hood].T.reset_index()# transpose to rows
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Anthony Roper Primary School, The----
                 venue  freq
0                  Pub  0.50
1       Breakfast Spot  0.17
2        Train Station  0.17
3                 Park  0.17
4  Arts & Crafts Store  0.00


----Bean Primary School----
                        venue  freq
0                        Café  0.50
1  Construction & Landscaping  0.25
2               Metro Station  0.25
3         Arts & Crafts Store  0.00
4                  Restaurant  0.00


----Brent Primary School, The----
                venue  freq
0         Pizza Place  0.25
1  English Restaurant  0.12
2                Park  0.12
3                Café  0.12
4         Sports Club  0.12


----Dartford Bridge Community Primary School----
                venue  freq
0          Restaurant   0.2
1               Hotel   0.2
2  Child Care Service   0.2
3       Grocery Store   0.2
4          Food Truck   0.2


----Dartford Primary Academy----
                  venue  freq
0                   Pub  0.10
1         Grocery Store  0.10
2  Gym / Fitness Center  0.08
3          Soccer Field  0.05
4                  Park  0.05


----Fleetdown Primary School----
                  venue  freq
0  Fast Food Restaurant  0.14
1           Coffee Shop  0.14
2           Gas Station  0.14
3    English Restaurant  0.14
4          Soccer Field  0.14


----Gateway Primary Academy, The----
                  venue  freq
0         Grocery Store  0.17
1  Fast Food Restaurant  0.08
2           Pizza Place  0.08
3    English Restaurant  0.08
4          Soccer Field  0.08


----Greenlands Primary School----
                        venue  freq
0           Indian Restaurant  0.33
1               Grocery Store  0.33
2  Construction & Landscaping  0.33
3         Arts & Crafts Store  0.00
4                  Restaurant  0.00


----Holy Trinity CEP School, Dartford----
                    venue  freq
0           Grocery Store  0.14
1    Fast Food Restaurant  0.07
2  Furniture / Home Store  0.07
3               Nightclub  0.07
4          Sandwich Place  0.07


----Horton Kirby CEP School----
        venue  freq
0         Bar   0.4
1       River   0.2
2        Park   0.2
3         Pub   0.2
4  Restaurant   0.0


----Maypole Primary School----
               venue  freq
0  Food & Drink Shop   0.2
1               Park   0.2
2        Candy Store   0.2
3  Convenience Store   0.2
4                Pub   0.2


----Oakfield Primary Academy----
            venue  freq
0            Park  0.25
1             Pub  0.12
2  Hardware Store  0.12
3     Supermarket  0.12
4       Pet Store  0.12


----Our Lady's Catholic Primary School, Dartford----
                  venue  freq
0                   Pub  0.13
1         Grocery Store  0.10
2  Fast Food Restaurant  0.07
3           Supermarket  0.07
4        Clothing Store  0.07


----St Anselm's Catholic Primary School, Dartford----
           venue  freq
0  Grocery Store  0.24
1       Platform  0.24
2          Hotel  0.18
3     Restaurant  0.12
4         Tunnel  0.06


----Sutton-at-Hone CEP School----
           venue  freq
0            Pub   0.4
1  Jewelry Store   0.2
2          Trail   0.2
3    Coffee Shop   0.2
4     Restaurant   0.0


----Temple Hill Primary Academy----
            venue  freq
0        Platform  0.25
1   Grocery Store  0.19
2           Hotel  0.12
3  Hardware Store  0.06
4             Gym  0.06


----Wentworth Primary School----
                   venue  freq
0          Grocery Store  0.11
1              Pet Store  0.11
2            Coffee Shop  0.06
3                    Gym  0.06
4  Portuguese Restaurant  0.06


----West Hill Primary Academy----
                  venue  freq
0         Grocery Store  0.14
1  Fast Food Restaurant  0.09
2             Pet Store  0.09
3           Supermarket  0.09
4                   Pub  0.09


----Westgate Primary School----
                    venue  freq
0                     Pub  0.15
1           Grocery Store  0.12
2  Furniture / Home Store  0.09
3               Pet Store  0.06
4             Supermarket  0.06


----Wilmington Primary School----
                      venue  freq
0              Optical Shop  0.33
1               Golf Course  0.33
2                       Pub  0.33
3       Arts & Crafts Store  0.00
4  Mediterranean Restaurant  0.00

### function to return num_top-venue top venues by row

In [33]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

### output table of 10 most common venues

In [34]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighbourhood'] = dartford_grouped['Neighbourhood']

for ind in np.arange(dartford_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(dartford_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Anthony Roper Primary School, The",Pub,Train Station,Breakfast Spot,Park,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course,Gas Station
1,Bean Primary School,Café,Metro Station,Construction & Landscaping,Warehouse Store,English Restaurant,Hardware Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course
2,"Brent Primary School, The",Pizza Place,English Restaurant,Café,Sports Club,Gas Station,Park,Fast Food Restaurant,Warehouse Store,Gym / Fitness Center,Gym
3,Dartford Bridge Community Primary School,Hotel,Grocery Store,Child Care Service,Food Truck,Restaurant,Electronics Store,Hardware Store,Gym / Fitness Center,Gym,Golf Course
4,Dartford Primary Academy,Grocery Store,Pub,Gym / Fitness Center,Supermarket,Fast Food Restaurant,Soccer Field,Park,Clothing Store,Warehouse Store,Gas Station
5,Fleetdown Primary School,English Restaurant,Café,Gas Station,Soccer Field,Coffee Shop,Fast Food Restaurant,Pizza Place,Warehouse Store,Gym / Fitness Center,Gym
6,"Gateway Primary Academy, The",Grocery Store,Soccer Field,Park,Platform,English Restaurant,Convenience Store,Fast Food Restaurant,Pizza Place,Sports Club,Café
7,Greenlands Primary School,Grocery Store,Construction & Landscaping,Indian Restaurant,Warehouse Store,English Restaurant,Hardware Store,Gym / Fitness Center,Gym,Golf Course,Gas Station
8,"Holy Trinity CEP School, Dartford",Grocery Store,Clothing Store,Pet Store,Performing Arts Venue,Pub,Fast Food Restaurant,Coffee Shop,Sandwich Place,Shopping Plaza,Pizza Place
9,Horton Kirby CEP School,Bar,Pub,Park,River,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course,Gas Station
10,Maypole Primary School,Pub,Candy Store,Park,Food & Drink Shop,Convenience Store,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course
11,Oakfield Primary Academy,Park,Pub,Grocery Store,Supermarket,Furniture / Home Store,Pet Store,Hardware Store,Electronics Store,Gym,Golf Course
12,"Our Lady's Catholic Primary School, Dartford",Pub,Grocery Store,Furniture / Home Store,Supermarket,Fast Food Restaurant,Clothing Store,Gas Station,Gym / Fitness Center,Nightclub,Performing Arts Venue
13,"St Anselm's Catholic Primary School, Dartford",Platform,Grocery Store,Hotel,Restaurant,Tunnel,Gym,Train Station,Convenience Store,Gym / Fitness Center,Golf Course
14,Sutton-at-Hone CEP School,Pub,Trail,Coffee Shop,Jewelry Store,Bar,Breakfast Spot,Gym / Fitness Center,Gym,Grocery Store,Golf Course
15,Temple Hill Primary Academy,Platform,Grocery Store,Hotel,Coffee Shop,Train Station,Tunnel,Gym,Hardware Store,Convenience Store,Restaurant
16,Wentworth Primary School,Grocery Store,Pet Store,Arts & Crafts Store,Coffee Shop,Mediterranean Restaurant,Fast Food Restaurant,English Restaurant,Electronics Store,Pharmacy,Pizza Place
17,West Hill Primary Academy,Grocery Store,Pub,Furniture / Home Store,Supermarket,Fast Food Restaurant,Clothing Store,Pet Store,Shopping Plaza,Performing Arts Venue,Coffee Shop
18,Westgate Primary School,Pub,Grocery Store,Furniture / Home Store,Supermarket,Pet Store,Clothing Store,Gym / Fitness Center,Hardware Store,Fast Food Restaurant,Nightclub
19,Wilmington Primary School,Pub,Golf Course,Optical Shop,Hotel,Gym / Fitness Center,Gym,Grocery Store,Gas Station,Furniture / Home Store,Food Truck

### run kmeans to cluster schools

In [35]:
# set number of clusters
kclusters = 4

dartford_grouped_clustering = dartford_grouped.drop('Neighbourhood', axis=1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(dartford_grouped_clustering)
dartford_grouped_clustering['School Name'] = neighborhoods_venues_sorted['Neighbourhood']
# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 0, 1, 3, 1, 1, 1, 1, 1, 2], dtype=int32)

### add clustering labels

In [36]:
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [37]:
neighborhoods_venues_sorted.head()

,Cluster Labels,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,2,"Anthony Roper Primary School, The",Pub,Train Station,Breakfast Spot,Park,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course,Gas Station
1,0,Bean Primary School,Café,Metro Station,Construction & Landscaping,Warehouse Store,English Restaurant,Hardware Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course
2,1,"Brent Primary School, The",Pizza Place,English Restaurant,Café,Sports Club,Gas Station,Park,Fast Food Restaurant,Warehouse Store,Gym / Fitness Center,Gym
3,3,Dartford Bridge Community Primary School,Hotel,Grocery Store,Child Care Service,Food Truck,Restaurant,Electronics Store,Hardware Store,Gym / Fitness Center,Gym,Golf Course
4,1,Dartford Primary Academy,Grocery Store,Pub,Gym / Fitness Center,Supermarket,Fast Food Restaurant,Soccer Field,Park,Clothing Store,Warehouse Store,Gas Station

### sort out tables

In [38]:
neighborhoods_venues_sorted.rename(columns={'Neighbourhood': 'School Name'}, inplace=True)

In [39]:
dartford_merged = schools
dartford_merged.head()

,School Name,Post Code,Address,Phone,latitude,longitude
0,"Anthony Roper Primary School, The",DA4 0AA,"High St, Eynsford, Dartford",01322 863680,51.369382,0.213492
1,Bean Primary School,DA2 8AL,"School Ln, Bean, Dartford",01474 833225,51.426347,0.289653
2,"Brent Primary School, The",DA2 6BA,"London Road, Dartford",01322 223943,51.443261,0.245859
3,Dartford Bridge Community Primary School,DA1 5GB,"Birdwood Ave, Dartford",01322 424021,51.463049,0.230288
4,Dartford Primary Academy,DA1 1SQ,"York Rd, Dartford",01322 224453,51.441965,0.228210

In [40]:
dartford_merged.index = range(len(schools.index))
dartford_merged

,School Name,Post Code,Address,Phone,latitude,longitude
0,"Anthony Roper Primary School, The",DA4 0AA,"High St, Eynsford, Dartford",01322 863680,51.369382,0.213492
1,Bean Primary School,DA2 8AL,"School Ln, Bean, Dartford",01474 833225,51.426347,0.289653
2,"Brent Primary School, The",DA2 6BA,"London Road, Dartford",01322 223943,51.443261,0.245859
3,Dartford Bridge Community Primary School,DA1 5GB,"Birdwood Ave, Dartford",01322 424021,51.463049,0.230288
4,Dartford Primary Academy,DA1 1SQ,"York Rd, Dartford",01322 224453,51.441965,0.228210
5,Fleetdown Primary School,DA2 6JX,"Lunedale Rd, Dartford",01322 226891,51.434688,0.246575
6,"Gateway Primary Academy, The",DA2 6DW,"Mile Stone Rd, Stone, Dartford",01322 220090,51.443641,0.241171
7,Greenlands Primary School,DA2 8DH,"Green Street Green Rd, Dartford",01474 703178,51.415593,0.264033
8,"Holy Trinity CEP School, Dartford",DA1 5AF,"Chatsworth Rd, Dartford",01322 224474,51.452459,0.206325
9,Horton Kirby CEP School,DA4 9BN,"Horton Rd, Horton Kirby, Dartford",01322 863278,51.394223,0.244016
10,Maypole Primary School,DA2 7UZ,"Franklin Rd, Dartford",01322 523830,51.431275,0.173940
11,Oakfield Primary Academy,DA1 2SW,"Oakfield Ln, Dartford",01322 220831,51.433811,0.211872
12,"Our Lady's Catholic Primary School, Dartford",DA1 2HZ,"King Edward Ave, Dartford",01322 222759,51.448270,0.209102
13,"St Anselm's Catholic Primary School, Dartford",DA1 5EA,"Littlebrook Manor Way, Dartford",01322 225173,51.450643,0.232404
14,Sutton-at-Hone CEP School,DA4 9EX,"Church Rd, Sutton at Hone, Dartford",01322 862147,51.411579,0.235145
15,Temple Hill Primary Academy,DA1 5ND,"St Edmunds Rd, Dartford",01322 224600,51.452812,0.229962
16,Wentworth Primary School,DA1 3NG,"Wentworth Dr, Dartford",01322 225694,51.445612,0.189718
17,West Hill Primary Academy,DA1 3DZ,"Dartford Rd, Dartford",01322 226019,51.447130,0.202283
18,Westgate Primary School,DA1 2LP,"Summerhill Rd, Dartford",01322 223382,51.443231,0.211257
19,Wilmington Primary School,DA2 7DF,"Common Ln, Dartford",01322 274080,51.427282,0.198005

### merge tables to add latitude/longitude for each school

In [41]:
dartford_merged = dartford_merged.join(neighborhoods_venues_sorted.set_index('School Name'), on='School Name')

In [42]:
dartford_merged.head() # the last columns!

,School Name,Post Code,Address,Phone,latitude,longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Anthony Roper Primary School, The",DA4 0AA,"High St, Eynsford, Dartford",01322 863680,51.369382,0.213492,2,Pub,Train Station,Breakfast Spot,Park,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course,Gas Station
1,Bean Primary School,DA2 8AL,"School Ln, Bean, Dartford",01474 833225,51.426347,0.289653,0,Café,Metro Station,Construction & Landscaping,Warehouse Store,English Restaurant,Hardware Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course
2,"Brent Primary School, The",DA2 6BA,"London Road, Dartford",01322 223943,51.443261,0.245859,1,Pizza Place,English Restaurant,Café,Sports Club,Gas Station,Park,Fast Food Restaurant,Warehouse Store,Gym / Fitness Center,Gym
3,Dartford Bridge Community Primary School,DA1 5GB,"Birdwood Ave, Dartford",01322 424021,51.463049,0.230288,3,Hotel,Grocery Store,Child Care Service,Food Truck,Restaurant,Electronics Store,Hardware Store,Gym / Fitness Center,Gym,Golf Course
4,Dartford Primary Academy,DA1 1SQ,"York Rd, Dartford",01322 224453,51.441965,0.228210,1,Grocery Store,Pub,Gym / Fitness Center,Supermarket,Fast Food Restaurant,Soccer Field,Park,Clothing Store,Warehouse Store,Gas Station

### create map

In [43]:
map_clusters = folium.Map(location=[dartford.latitude, dartford.longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(dartford_merged['latitude'], dartford_merged['longitude'], dartford_merged['School Name'], dartford_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

### Look at Clusters

### Cluster 1, Good mixture of venues

In [44]:
dartford_merged.loc[dartford_merged['Cluster Labels'] == 0, dartford_merged.columns[[0] + list(range(6, dartford_merged.shape[1]))]]

,School Name,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Bean Primary School,0,Café,Metro Station,Construction & Landscaping,Warehouse Store,English Restaurant,Hardware Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course

### Cluster 2, mostly groceries

In [45]:
dartford_merged.loc[dartford_merged['Cluster Labels'] == 1, dartford_merged.columns[[0] + list(range(6, dartford_merged.shape[1]))]]

,School Name,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,"Brent Primary School, The",1,Pizza Place,English Restaurant,Café,Sports Club,Gas Station,Park,Fast Food Restaurant,Warehouse Store,Gym / Fitness Center,Gym
4,Dartford Primary Academy,1,Grocery Store,Pub,Gym / Fitness Center,Supermarket,Fast Food Restaurant,Soccer Field,Park,Clothing Store,Warehouse Store,Gas Station
5,Fleetdown Primary School,1,English Restaurant,Café,Gas Station,Soccer Field,Coffee Shop,Fast Food Restaurant,Pizza Place,Warehouse Store,Gym / Fitness Center,Gym
6,"Gateway Primary Academy, The",1,Grocery Store,Soccer Field,Park,Platform,English Restaurant,Convenience Store,Fast Food Restaurant,Pizza Place,Sports Club,Café
7,Greenlands Primary School,1,Grocery Store,Construction & Landscaping,Indian Restaurant,Warehouse Store,English Restaurant,Hardware Store,Gym / Fitness Center,Gym,Golf Course,Gas Station
8,"Holy Trinity CEP School, Dartford",1,Grocery Store,Clothing Store,Pet Store,Performing Arts Venue,Pub,Fast Food Restaurant,Coffee Shop,Sandwich Place,Shopping Plaza,Pizza Place
11,Oakfield Primary Academy,1,Park,Pub,Grocery Store,Supermarket,Furniture / Home Store,Pet Store,Hardware Store,Electronics Store,Gym,Golf Course
12,"Our Lady's Catholic Primary School, Dartford",1,Pub,Grocery Store,Furniture / Home Store,Supermarket,Fast Food Restaurant,Clothing Store,Gas Station,Gym / Fitness Center,Nightclub,Performing Arts Venue
16,Wentworth Primary School,1,Grocery Store,Pet Store,Arts & Crafts Store,Coffee Shop,Mediterranean Restaurant,Fast Food Restaurant,English Restaurant,Electronics Store,Pharmacy,Pizza Place
17,West Hill Primary Academy,1,Grocery Store,Pub,Furniture / Home Store,Supermarket,Fast Food Restaurant,Clothing Store,Pet Store,Shopping Plaza,Performing Arts Venue,Coffee Shop
18,Westgate Primary School,1,Pub,Grocery Store,Furniture / Home Store,Supermarket,Pet Store,Clothing Store,Gym / Fitness Center,Hardware Store,Fast Food Restaurant,Nightclub

### Cluster 3, Pubs and bars

In [46]:
dartford_merged.loc[dartford_merged['Cluster Labels'] == 2, dartford_merged.columns[[0] + list(range(6, dartford_merged.shape[1]))]]

,School Name,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Anthony Roper Primary School, The",2,Pub,Train Station,Breakfast Spot,Park,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course,Gas Station
9,Horton Kirby CEP School,2,Bar,Pub,Park,River,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course,Gas Station
10,Maypole Primary School,2,Pub,Candy Store,Park,Food & Drink Shop,Convenience Store,Electronics Store,Gym / Fitness Center,Gym,Grocery Store,Golf Course
14,Sutton-at-Hone CEP School,2,Pub,Trail,Coffee Shop,Jewelry Store,Bar,Breakfast Spot,Gym / Fitness Center,Gym,Grocery Store,Golf Course
19,Wilmington Primary School,2,Pub,Golf Course,Optical Shop,Hotel,Gym / Fitness Center,Gym,Grocery Store,Gas Station,Furniture / Home Store,Food Truck

### Cluster 4, near Stations and Groceries

In [47]:
dartford_merged.loc[dartford_merged['Cluster Labels'] == 3, dartford_merged.columns[[0] + list(range(6, dartford_merged.shape[1]))]]

,School Name,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,Dartford Bridge Community Primary School,3,Hotel,Grocery Store,Child Care Service,Food Truck,Restaurant,Electronics Store,Hardware Store,Gym / Fitness Center,Gym,Golf Course
13,"St Anselm's Catholic Primary School, Dartford",3,Platform,Grocery Store,Hotel,Restaurant,Tunnel,Gym,Train Station,Convenience Store,Gym / Fitness Center,Golf Course
15,Temple Hill Primary Academy,3,Platform,Grocery Store,Hotel,Coffee Shop,Train Station,Tunnel,Gym,Hardware Store,Convenience Store,Restaurant